@import url("./components/hero.css");
@import url("./components/nav.css");

:root {
    --bg-primary: purple;
    --main-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: var(--bg-primary);
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
